
@mixin ellip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
$fontLight:#666;
$fontDeep:#333;
$fontGray:#aaa;
.mr-10{
    margin-right: 10px;
}
.mr-5{
    margin-right: 5px;
}
.mr-15{
    margin-right: 15px;
}
.navLink {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 750px;
    display: flex;
    background-color: #fff;
    a {
        flex-basis: 50%;
        text-align: center;
        color: #999;
        text-decoration: none;
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active{
             color:rgba(34,152,252,1);
             i{
                 background-color: rgba(34,152,252,1);
             }
        }
    }
    i {
        width: 32px;
        height: 32px;
        background: rgba(153, 153, 153, 1);
        border-radius: 50%;
        margin-right: 10px;
    }
    
}
.gradientBtn{
    display: block;
    background: rgba(74, 171, 245, 1);
    color: #fff;
    background-image: linear-gradient(to left, #38b6e4, #2197fd);
    border-radius: 5px;
    box-shadow: 6px 0px 20px rgba(54, 180, 230, 0.3)
}
.btn-disable{
    background: #ccc!important;
    box-shadow: none!important;
}
.mod-container{
    width: 1000px;
    margin: 0 auto;
}
.editormd-dialog-header{
    line-height: 1;
}
.router-loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}